* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #000;
}

/* 
================
Navigation
================
*/
@media (min-width: 100px) {
  body nav {
    background: transparent;
    background: #232634;
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }
  body nav .nav-1 {
    margin-left: 10px;
    font-family: "ubuntu", sans-serif;
  }
  body nav .nav-1 h1 {
    color: #1783F6;
    display: flex;
    align-items: center;
  }
  body nav .nav-1 h1 .fa-desktop {
    font-size: 35px;
    margin: 0 10px 0 5px;
    color: #1783F6;
  }
  body nav .nav-2 {
    margin-right: 10px;
  }
  body nav .nav-2 .fa-bars {
    font-size: 28px;
    border: 2.5px solid #232634;
    padding: 4px 6px;
    border-radius: 50%;
    animation-name: bar-icon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  body nav .nav-2 .fa-bars ul {
    position: absolute;
    top: 60px;
    right: 0;
    text-align: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    animation-name: side-transition;
    animation-duration: 0.2s;
    display: none;
    z-index: 100;
    opacity: 2;
  }
  body nav .nav-2 .fa-bars ul li {
    margin: 15px 0;
  }
  body nav .nav-2 .fa-bars ul li a {
    color: #232634;
    text-transform: uppercase;
    font-family: "ubuntu", sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  body nav .nav-2 .fa-bars ul li .link:hover, body nav .nav-2 .fa-bars ul li .active {
    border-bottom: 2px solid #FFF;
  }
  body nav .nav-2 .fa-bars ul li .login-btn {
    color: #FFF;
    padding: 5px 10px;
    margin: 0 35px;
  }
  body nav .nav-2 .fa-bars ul li .login-btn .fa-cogs {
    font-size: 30px;
  }
  body nav .nav-2 .fa-bars:hover ul {
    display: flex;
    /*background: #FFF;*/
  }
}
@keyframes bar-icon {
  0% {
    color: #232634;
  }
  50% {
    color: #000;
  }
  100% {
    color: #555;
  }
}
@media (min-width: 700px) {
  body header nav .nav-2 .fa-bars {
    border: none;
    color: red;
    margin: -52px;
  }
  body header nav .nav-2 .fa-bars ul {
    position: static;
    display: flex;
    flex-direction: row;
  }
  body header nav .nav-2 .fa-bars ul li a {
    margin: 0 0 0 30px;
    color: #FFF;
  }

  @keyframes bar-icon {
    0% {
      color: #FCF6F5FF;
    }
    50% {
      color: #FCF6F5FF;
    }
    100% {
      color: #FCF6F5FF;
    }
  }
}
@keyframes side-transition {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
/*
================
End Of Navigation 
================
*/
/*
==========
Hero Section
==========
*/
@media (max-width: 800px) {
  header .hero .portfolio section button {
    font-size: 16px;
    padding: 10px 35px;
  }
}
@media (max-width: 480px) {
  header .hero .portfolio section button {
    font-size: 15px;
    padding: 8px 15px;
  }
}
/*
=====================
End Of hero section
=====================
*/
main #project {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main #project .project-1 {
  background: #F1F4FFFF;
  width: calc(100vw - 60%);
  padding: 10px;
  border-radius: 5px;
  margin: 15px 0;
}
main #project .project-1 h4 {
  color: #2460A7FF;
  font-size: 25px;
  z-index: 10;
  font-family: "ubuntu", sans-serif;
}
main #project .project-1 p {
  font-family: "ubuntu", sans-serif;
}
main #project .project-1 button {
  font-size: 22px;
  border: none;
  outline: none;
  padding: 5px 7px;
  border-radius: 2px;
  text-transform: uppercase;
  color: #2BAE66FF;
  z-index: 12;
  border: 2px solid #2BAE66FF;
  margin: 15px 0 5px 0;
  font-family: "ubuntu", sans-serif;
  background: #F1F4FFFF;
  transition-property: background, color;
}
main #project .project-1 button:hover {
  color: #FFF;
  background: #2BAE66FF;
  transition: 1s;
}
main #project .project-1 button:hover .fa-download {
  color: #FFF;
  transition: 1s;
}

@media (max-width: 500px) {
  main #project {
    flex-wrap: wrap;
  }
  main #project .project-1 {
    min-width: 90%;
  }
}
@media (max-width: 800px) {
  main #project .project-1 {
    width: 45%;
  }
}
main #projects-intro {
  max-width: 700px;
  margin: 10px auto;
  text-align: center;
}
main #projects-intro p:first-letter {
  font-size: 30px;
  padding-left: 50px;
}
main #projects-intro p {
  color: #555;
}
main #projects-intro h1 {
  text-align: center;
  margin: 50px 0 10px 0;
  font-size: 35px;
  text-transform: uppercase;
  font-family: "ubuntu", sans-serif;
}

@media (max-width: 800px) {
  main #projects-intro {
    margin: 10px 30px;
  }
  main #projects-intro h1 {
    font-size: 25px;
  }
  main #project .project-1 h4 {
    font-size: 20px;
  }
}
/*
================
Form
================
*/
main form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
main form h2 {
  text-transform: uppercase;
  color: orange;
  font-family: "Raleway", sans-serif;
}
main form input {
  width: 500px;
  line-height: 3em;
  margin: 10px;
  padding: 0 0 0 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  border: 2px solid #232634;
}
main form a {
  all: unset;
  font-size: 20px;
  padding: 8px 0;
  background: red;
  color: #F1F4FFFF;
  border-radius: 3px;
  text-transform: uppercase;
  width: 500px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
